.selectgenre {
    background-color: grey;
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon1 {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hexagon-gallery {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hex {
    display: flex;
    position: relative;
    width: 240px;
    height: 265px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
    grid-row-start: 1;
    grid-column: 2 / span 2;
    transform: translate(120px, -80px);
}

.hex:nth-child(2) {
    grid-row-start: 1;
    grid-column: 4 / span 2;
    transform: translate(0px, 120px);
}

.hex:nth-child(3) {
    grid-row-start: 1;
    grid-column: 6 / span 2;
    transform: translate(-120px, -80px);
}